/gym/GymBookingSystem/.vs/GymBookingSystem/v16/.suo
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.deps.json
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.dll
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.pdb
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.runtimeconfig.dev.json
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.Views.dll
/gym/GymBookingSystem/bin/Debug/net5.0/GymBookingSystem.Views.pdb
/gym/GymBookingSystem/bin/Debug/net5.0/ref/GymBookingSystem.dll
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.assets.cache
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.csproj.CoreCompileInputs.cache
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.csproj.FileListAbsolute.txt
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.csprojAssemblyReference.cache
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.dll
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.genruntimeconfig.cache
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.pdb
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.Views.dll
/gym/GymBookingSystem/obj/Debug/net5.0/GymBookingSystem.Views.pdb
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/gym/GymBookingSystem/obj/Debug/net5.0/ref/GymBookingSystem.dll
/gym/GymBookingSystem/obj/GymBookingSystem.csproj.nuget.dgspec.json
/gym/GymBookingSystem/obj/GymBookingSystem.csproj.nuget.g.props
/gym/GymBookingSystem/obj/project.assets.json
/gym/GymBookingSystem/obj/project.nuget.cache
